include ../_helpers/_mixins

<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 lt-ie9 lt-ie8 lt-ie7" lang="#{site.lang}"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 lt-ie9 lt-ie8" lang="#{site.lang}"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie9" lang="#{site.lang}"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="#{site.lang}"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="#{site.lang}" dir="#{site.dir}" prefix="og: http://ogp.me/ns schema: http://schema.org/" itemscope itemtype="http://schema.org/WebPage"><!--<![endif]-->
head

  block head

    include ../_includes/_head

body

  div(id='root', role='document')

    header(class='header', role='banner')
      div(class='container')
        div(class='columns')
          div(class='large-6')
            h1 #{site.title}

    main(class='main', role='main', itemprop='mainContentofPage')

      block main

    div(id='root-footer')

  footer(class='footer', role='contentinfo')
    div(class='container')
      div(class='columns')
        div(class='large-6')
          p #{site.title}
        div(class='large-6 large-omega large-text-right')
          p(class='copyright')
            | Copyright &#169; 
            span(itemprop='copyrightYear') #{site.copyrightYear}
            | 
            span(itemprop='author', itemscope, itemtype='http://schema.org/Person')
              a(href='#{author.url}', rel='external', target='_blank')
                span(itemprop='name') #{author.name}
              meta(itemprop='url', content='#{author.url}')
              a(href='#{author.google}', rel='publisher', itemprop='url', hidden) Google+

  block scripts

    script(src='#{paths.js}/plugins.min.js')
    script(src='#{paths.js}/app.js')
    //-
      script
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
</html>
